<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles2.css">
    <title>Second Page</title>
</head>
<body class="details-page">
    <header>
        <img src="images/logo.png" alt="KTM Logo">
        <nav>
            <span>Models</span>
            <span>Racing</span>
            <span>Service</span>
        </nav>
    </header>

    <main>
        <img src="images/background01.png" alt="Background Image 01">
        <div class="content">
            <h3>The beast, evolved.</h3>
            <h1>2023 KTM 1290 SUPER DUKE R EVO</h1>
            <p>Evolution and adaption are critical when it comes to maintaining one's status as the top dog. The KTM 1290 SUPER DUKE R EVO is a BEAST - evolved. Boasting intuitive Semi-Active Suspension Technology (SAT), this BEAST not only adapts to the road surface but also to the rider's inputs - making it a cold, calculated hunter. A frightening prospect for any would-be challenger.</p>
            <div class="cta">
                <div class="button">
                    <p>FIND A DEALER</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>