<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Second Page</title>
</head>
<body class="details-page graphics-page">
    <header>
        <nav>
            <a href="index.html"><img src="images/logo.png" alt="KTM Logo"></a>
            <span><a href="details.page.html">Models</a></span>
            <span><a href="#">Racing</a></span>
            <span><a href="#">Service</a></span>
        </nav>
        <div><a href="#"><img class="search-icon" src="images/search-icon.svg"></a></div>

    </header>

    <main>
        
        <div class="content">
            <div>
            <h2 class="orange">BODYWORK & GRAPHICS</h2>
            <p>There isn't much to say about the bodywork of the new KTM 1290 SUPER DUKE R EVO as there is so little of it to talk about. But that's exactly how we like it! Aggressive and menacing, the bodywork and panels had to achieve two objectives - tick all the ergonomic boxes and shave weight wherever possible. As such, every panel and plate has been calculated for optimum thickness and minimized where possible. The only thing that remained heavy was attitude..</p>
                <a class="cta button">
                    <p>TEST RIDE</p>
                </a>
            </div>
        </div>
        <div>
            <div class="motorcycle">
            <img src="images/bike.png" alt="Bike Image">
        </div>
    </main>
    <main>
        <div>
            <img src="images/graphic_details.png" alt="Background Image Graphic Details">
        </div>
        <div class="content">
            <div>
            <h2 class="orange">GRAPHICS & PROCESS</h2>
            <p>There's no mistaking that this is the meanest bike on the block. A high-quality application process has been used to ensure the signature 'R' graphics stay put and never fade, while contrasting colors, tones and textures set the muscled creases of the KTM 1290 SUPER DUKE R off perfectly.</p>
            <h2 class="orange">TANK</h2>
            <p>Crafted from steel, the 16 liter fuel tank has been made to bulk up THE BEAST's haunches. Also, the new shape and angle have been designed to support the rider on street and on the track.</p> 
            <h2 class="orange">AIR INTAKE</h2>
            <p>Almost mantis-like, the LED headlight doubles as a ram air intake, with air being channeled between the lights, keeping them cool, and directly into the air filter box, making for a more efficient burn. Besides looking great, the dual-functionality resulted in cleaner, more compact lines and less overall weight.</p> 
                <a class="cta button" href="dealer.page.html">FIND A DEALER</a>
            </div>
        </div>
    </main>
</body>
</html>