/* For the first page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&display=swap');

* {box-sizing: border-box;}

img {
    width:100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: #FF7018;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
}

header img {
    width:117px;
}

nav {
    display: flex;
    gap: 20px;
    color: black;
    align-items: center;
}
nav a {
    color: black;
    font-weight:600;
}
.search-icon {
    width:28px;
}
.home-page main {
    background: url('images/background.png') left top/cover no-repeat;
    display: flex;
    height: 900px;
    align-items: flex-start;
    padding: 20px;
    color: white;
}

.text-container {
    margin-left: 60px;
    padding-top: 110px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
}

h2 {
    margin: 0;
    font-size: 36px;
    line-height: 1.2;
    font-family: 'Russo One', sans-serif;
}
h2.orange {
    color: #FF7018;
    font-size:48px;
}
.center {
    text-align:center;
}
.gallery {
    display:flex;
    width:80%;
    margin:auto;
}
.gallery div {
    flex:1;
    padding-right:20px;
}
.gallery p {
    font-size:26px;
    font-weight:bold;
    color: #FF7018;
    font-family: 'Russo One', sans-serif;
}
.button, button {
    display:inline-block;
    padding: 10px 20px;
    background-color: #FF7018;
    color: white;
    border: none;
    font-weight:600;
    cursor: pointer;
    font-size: 16px;
}

/* For the second page */

body.details-page {
    background:#444444;
}
.details-page main  {
display:flex;
}
.details-page main div {
    flex:1;
}
.graphics-page main div .content {
    flex:35%;
}

.graphics-page main div .motorcycle {
    flex:65%;
}

.graphics-page main div .motorcycle img {
    width:140%;
    margin-left:-30%;
    padding-top: 80px;
}

.moto-slide {
    display:flex;
    width:80%;
    margin:auto;
    align-items: center;
}
.arrow {
    width:127px;
}

.details-page main {
    background: linear-gradient(180deg, #000 28.9%, #888 169.24%);


}
.details-page .content {
    display:flex;
    align-items: center;
    padding: 0 102px;
    color: white;
}

.details-page .hero {
    background: url('images/background02.png') left top/cover no-repeat;
    display: flex;
    height: 900px;
    align-items: flex-start;
    padding: 20px;
    color: white;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
}

h1 {
    margin: 10px 0;
    font-size: 36px;
    line-height: 1.2;
    font-family: 'Russo One', sans-serif;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

.cta {
    margin-top: 20px;
}

.button {
    width: 203px;
    height: 61px;
    background-color: #FF7018;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button p {
    color: white;
    margin: 0;
    font-size: 16px;
}
.beasts {
    background-color:black;
    padding:80px 0;
}
footer {
    background-color: #FF7018;
    min-height:94px;
}