<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Second Page</title>
</head>

<body class="details-page">
    <header>
        <nav>
            <a href="index.html">
                <img src="images/logo.png" alt="KTM Logo">
            </a>
            <span><a href="details.page.html">Models</a></span>
            <span><a href="#">Racing</a></span>
            <span><a href="#">Service</a></span>
        </nav>
        <div>
            <a href="#"><img class="search-icon" src="images/search-icon.svg"></a>
        </div>
    </header>

    <main>
        <div>
            <img src="images/background03.png" alt="Background Image 03">
        </div>
        <div class="content">
            <div class="column">
                <h2 class="orange">SCHEDULE A TEST RIDE</h2>
                <div>
                    <h3>Required Fields</h3>
                </div>
                <div class="box">
                    <!-- Box content here -->
                </div>
                <div class="box">
                    <!-- Box content here -->
                </div>
                <div class="box">
                    <!-- Box content here -->
                </div>
                <div class="box">
                    <!-- Box content here -->
                </div>
                <a class="button" href="graphics.page.html">BODY WORK INFO</a>
            </div>
        </div>
    </main>
</body>

</html>